body {
    font-family: Arial, sans-serif;
    background-color: rgba(144, 144, 144, 0.075);
}

h1 {
    color: #333; /* You can choose your desired color */
    text-align: center;
    line-height: 1;
    font-size: 32px;
}

.note, .sub-note, .sub-sub-note {
    margin-left: 25px;
    margin-bottom: 0;
    line-height: 0.25;
    font-size: 18px;
}
