body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202024;
    color: #BDBDBD; /* Default text color */
}

.notes-container {
    max-width: 100%;
    margin: 20px 25px;
    padding: 20px;
    background-color: #2C2C32;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #BDBDBD; /* Header Font Color */
}

.note-list {
    list-style: none;
    padding: 0;
}

.note {
    border: 3px solid #1B1B1F;
    padding: 10px;
    margin: 10px 0;
}

h2, h3 {
    color: #BDBDBD; /* Main text color */
}

p {
    margin-left: 20px;
}

/* Modified styles for links */
a {
    color: #BDBDBD; /* Set text color to black */
    text-decoration: none; /* Remove underline */
}

/* Styles for links on hover (optional) */
a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px; /* Adjust header font size for smaller screens */
    }

    .note {
        border-width: 2px; /* Adjust border width for notes on smaller screens */
    }

    p {
        margin-left: 10px; /* Adjust paragraph margin for smaller screens */
    }
}
